A:link {
	COLOR: #0080c0; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0080c0; TEXT-DECORATION: none
}
A:hover {
	COLOR: maroon; TEXT-DECORATION: underline overline
}
A:active {
	COLOR: maroon; TEXT-DECORATION: underline overline
}
BODY {
	BACKGROUND-IMAGE: url(background.gif)! important; BACKGROUND-REPEAT: repeat-x! important; FONT-FAMILY: Arial, Verdana, Helvetica, Geneva, sans-serif; BACKGROUND-COLOR: white! important
}
.copyright {
	FONT-SIZE: xx-small; COLOR: gray; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.small {
	FONT-SIZE: xx-small; COLOR: gray; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif
}
.smallcomment {
	FONT-SIZE: xx-small; VERTICAL-ALIGN: middle; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-ALIGN: justify
}
.hsplit {
	BACKGROUND-COLOR: #0080c0
}
.style1 {
	COLOR: #ffffff
}
