body {margin-left:5px;margin-top:5px;}
.bookimg              { border-style:solid; border-width:1; margin:4; }

/*Menu Styles */
.topmenu{background-color:#000099;color:#ffffff;font-family:Verdana,Arial,Helvetica,Tahoma,sans-serif;font-size:12px;font-weight:bold;padding:5px;text-align:center;} 
.leftMenuText{color:#000099;font-family:Verdana,Arial,Helvetica,Tahoma,sans-serif;font-size:12px;line-height:105%;text-align:center;}
.menuitem{color:#000099;font-family:Verdana, rial,Helvetica,Tahoma,sans-serif;font-size:11px;font-weight:bold;margin:10px;}

/*Table styles*/
table.content{margin-top:20px;width:565px;}
table.bookbox{border:1px solid #dddddd;margin:10px;width:315px;}
td{vertical-align:top;}
td.leftmenu{background-color: #eeeefe;border-left:3px solid #6666cc;border-right:3px solid #6666cc;}
td.searchmenu{background-color:#eeeefe;border-left:3px solid #6666cc;border-right:3px solid #6666cc;text-align:center;vertical-align:middle;}
td.spacer{background-color:#eeeefe;border-bottom:#6666cc solid 11px;border-top:#fff solid 5px;text-align:left;}
td.feature{height:30px;border-bottom:1px solid #3399ff;vertical-align:bottom;}
td.book{width:135px;}
td.booktitle{width:130px;}
td.bookinfo{width:325px;}
td.order{width:100px;}
td.altcolor{background-color:#eeeefe;}
td.submenu{padding-left:25px;}

/*form styles*/
.buttontext{color:#333399;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:12px;font-style:normal;font-weight:bold;}
.formfield{color:#333399;font-family:Verdana,Arial,Helvetica,sans-serif;font-size:13px;font-style:normal;}

/* list styles */
ul{color:#000000;font-family:Arial,Helvetica,sans-serif;font-size:13px;font-style:normal;line-height:115%;
	list-style-image:url('http://www.deitel.com/shared/images/newsletter/dot.png');margin-bottom:5px;margin-left:25px;margin-top:0px;}
ol{color:#000000;font-family: Arial, Helvetica, sans-serif;font-size:13px;font-style:normal;line-height:115%;margin-bottom:5px;margin-left:25px;margin-top:0px;}
li {margin-bottom:5px;margin-top:5px;}
li.indent{margin-left:30px;margin-top:10px;}

/*Link Styles*/
a{color:#00000FF;text-decoration:underline;}
a:hover{text-decoration:underline;} 
a:visited{color:#0000cc;}
a.nu{color:#00000FF;margin-bottom:10px;text-decoration:none;}

/*Font-styles*/
.italic {font-style:italic;}
.bolditalic{font-style:italic;font-weight:bold;}
.bold{font-weight:bold;}


/*Page Text Styles*/
body{color:#000000;font-family:Arial,Helvetica,sans-serif;font-style:normal;font-size:10px;}
p{font-size:13px;line-height:130%;margin-bottom:5px;margin-top:10px;}
p.ind{font-size:13px;line-height:130%;margin-bottom:5px;margin-left:30px;margin-top:10px;}
p.path{font-size:12px;margin-bottom:5px;margin-top:10px;font-weight:bold;}
h1{color:#000099;font-size:18px;font-weight:bold;margin-bottom:5px;}
h2{color:#000000;font-size:16px;font-weight:bold;margin-bottom:5px;}


/*Deitel Formats*/
.cdt{font-family:courier,courier new;font-size:110%;font-weight:bold;}
.cdts{font-family:helvetica, arial, sans-serif;font-weight:bold;}
.url{font-family:courier new, courier;font-size:13px;font-weight:bold;margin-bottom:10px;margin-left:30px;margin-top:10px;}
.cttoc {font-family:helvetica, arial, sans-serif; color:#4D8DFF; font-weight:bold; font-size:16px}
.h1toc {font-family:times new roman, times, serif;font-size:14px;line-height:110%;margin-bottom:1px;margin-top:1px;}

/*Other Text styles*/
.bigtitle{color:#000099;font-family:arial, helvetica, sans-serif;font-size:22px;font-style:italic;font-weight:bold;line-height:115%;margin-bottom:15px;}
.title{color:#000099;font-family:arial, helvetica, sans-serif;font-size:13px;font-style:italic;font-weight:bold;line-height:115%;margin-bottom:10px;}
.info{font-size:12px;line-height:9px;margin-bottom:5px;margin-top:0px;line-height:130%;}
	
	
/***********************OLD******************/	
	
td.fb{
	border-right: #ccc 1px solid; 
	border-top: #ccc 1px solid; 
	margin-top:10px;
	margin-left:10px; 
	border-left: #ccc 1px solid; 
	width: 300px; 
	border-bottom: #ccc 1px solid
}



.lightBack{
    text-align: center;
	background-color : #FFFFF0;
}

td.sectionTextLeft{
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	font-size : 14px;
	font-weight : bold;
	color : #000099;
	vertical-align : middle;
	text-align: left;
	background-color : #EEEEFE;
}
td.sectionTextRight{
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	font-size : 14px;
	font-weight : bold;
	color : #000099;
	vertical-align : middle;
	text-align: right;
}
td.sectionTextCenter{
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	font-size : 14px;
	font-weight : bold;
	color : #000099;
	vertical-align : middle;
	text-align: center;
}
td.sectionhead, tr.sectionhead{
	background-color : #EEEEFE;
}


td.sectionhead2{
	background-color : #000099;
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	font-size : 16px;
	font-weight : bold;
	text-align : center;
	color : #E6E6FA;
	vertical-align : middle;
	height : 15px;
}


p.sectionHeadText{
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	font-size : 18px;
	font-weight : bold;
	text-align : center;
	color : #E6E6FA;
	vertical-align : middle;
}
.link1{
	background-color : #CCCCFF;
	font-family : Arial, Helvetica, sans-serif;
	color : #333399;
	font-size : 12px;
	letter-spacing : 2px;
	text-align : center;
	font-weight : bold;
}
.liststyle{
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	font-size: 16px;
	font-weight : bold;
	color : Black;
}
.text1{
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	font-size : 12px;
	color : Gray;
	line-height : 120%;
	vertical-align: top;
}
.text3{
	font-family : Arial, Helvetica, sans-serif;
	font-style : normal;
	font-size : 12px;
	color : #333399;
	line-height : 120%;
	vertical-align: top;
}
.text3BI{
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	font-weight: bold;
	font-size : 12px;
	color : #333399;
	line-height : 120%;
	vertical-align: top;
}
.text3B{
	font-family : Arial, Helvetica, sans-serif;
    font-weight: bold;
	font-size : 12px;
	color : #333399;
	line-height : 120%;
	vertical-align: top;
}
.text3I{
	font-family : Arial, Helvetica, sans-serif;
	font-style : italic;
	font-size : 12px;
	color : #333399;
	line-height : 120%;
	vertical-align: top;
}


.tabletext1{
	background-color : #FFEBCD;
	font-family : Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight : bold;
	color : #000099;
	font-size : 12px;
	text-align : left;
}
.tabletext2{
	background-color : #FFF8DC;
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-style: normal;
	font-weight : normal;
	color : #000099;
	text-align : right;
}