CODE, TT, PRE
{
	font-family: monospace, "monospace for firefox";
	font-size: 0.81em;
}
SUP
{
	vertical-align: baseline;
	position: relative; 
	top: -0.4em;
}
SUB
{
	vertical-align: baseline;
	position: relative;
	bottom: -0.4em;
}
PRE.intable
{
	margin: 0;
}

TABLE.strict A, TABLE.strict A:hover, TABLE.strict A:visited
{
	color: #000000;
}
DIV#help_text CODE
{
	font-size: 0.81em;
}
DIV#help_text PRE.code
{
	background-color: #F0F0F0;
	padding: 4px;
}
H1.title, H2.title
{
	color: #1A5CC8;
	text-align: center;
}
H2.subtitle, H3.subtitle
{
	color: #1A5CC8;
	text-align: left;
}

/********** header **********/

TABLE.body TR TD.caption
{
	background-color: #1A5CC8;
	text-align: center;
	padding: 1px 1px 0px 1px;
}
TABLE.body TR TD.title
{
	text-align: center;
	font-size: 1.5em;
	color: White;
}
TABLE.body TR TD.locale
{
	text-align: center;
	vertical-align: middle;
	font: bold 0.75em sans-serif;
}
TABLE.body TR TD.locale A
{
	color: White;
}
TABLE.body TR TD.panel
{
	border: 1px solid #1A5CC8;
	padding: 1px;
}
TABLE.body TR TD.footer
{
	border: 1px solid #1A5CC8;
	padding: 1px;
	text-align: right;
}
TABLE.panel TR TH, TABLE.panel TR TD
{
	padding-right: 15px;
	padding-top: 5px;
}
TABLE.panel TR TH DIV
{
	font-size: 1.13em;
	font-family: sans-serif;
	text-align: left;
	font-weight: normal;
	border-bottom: 1px solid #1A5CC8;
}
TABLE.panel A, TABLE.panel A:link, TABLE.panel A:hover
{
	color: #1A5CC8;
}

/********** status **********/

TABLE.status
{
	margin: 0px;
	padding: 0px;
	border-top: 1px solid #808080;
	border-bottom: 1px solid #808080;
	font: 14px Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	background-color: #FFFFFF;
	width: 100%;
}

TABLE.status TR.header
{
	height: 36px;
	font-weight: bold;
	font-size: 13px;
	background-color: #EEEEEE;
}
TABLE.status TR.even
{
	height: 37px;
}
TABLE.status TR.odd
{
	height: 37px;
	background-color: #F4F4F4;
}

TABLE.status TD, TABLE.status TH
{
	padding: 2px 6px;
}
TABLE.status TD
{
	border-top: 1px solid #DDDDDD;
}
TABLE.status .id
{
	width: 64px;
	border-right: 1px solid #DDDDDD;
}
TABLE.status .date
{
	width: 86px;
	border-right: 1px solid #DDDDDD;
}
TABLE.status .coder
{
	border-right: 1px solid #DDDDDD;
}
TABLE.status TD.coder
{
	text-align: left;
}
TABLE.status .problem
{
	width: 68px;
	border-right: 1px solid #DDDDDD;
}
TABLE.status .language
{
	width: 76px;
	border-right: 1px solid #DDDDDD;
}
TABLE.status .result, TABLE.status .verdict_wt, TABLE.status .verdict_ac, TABLE.status .verdict_rj
{
	width: 160px;
	border-right: 1px solid #DDDDDD;
}
TABLE.status .verdict_ac
{
	color: #006600;
}
TABLE.status .verdict_rj, TABLE.status .verdict_rj A, TABLE.status .verdict_rj A:hover, TABLE.status .verdict_rj A:visited
{
	color: #800000;
}
TABLE.status .test
{
	width: 52px;
	border-right: 1px solid #DDDDDD;
}
TABLE.status .runtime
{
	width: 68px;
	border-right: 1px solid #DDDDDD;
}
TABLE.status .memory
{
	width: 76px;
}

TABLE.status_footer
{
	margin: 10px 0px 0px 0px;
	font: 14px Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: left;
	width: 100%;
}
TABLE.status_footer TD.footer_left
{
	padding: 0px 32px 0px 0px;
}
TABLE.status_footer TD.footer_right
{
	text-align: right;
	vertical-align: top;
}

P.status_filter
{
	margin: 0px;
	padding: 0px 0px 4px 0px;
	border: 0px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: right;
}

TABLE.status A, TABLE.status_footer A, P.status_filter A
{
	color: #0044CC;
	text-decoration: underline;
}

/********** rating **********/

TABLE.rating
{
	margin-bottom: 10px;
	padding: 0px;
	border-top: 1px solid #808080;
	font: 14px Arial, Helvetica, sans-serif;
	color: #000000;
	text-align: center;
	background-color: #FFFFFF;
}

TABLE.rating TR.header
{
	height: 36px;
	font-weight: bold;
	font-size: 13px;
	background-color: #EEEEEE;
}
TABLE.rating TR.even, TABLE.rating TR.odd
{
	height: 37px;
}
TABLE.rating TR.odd
{
	background-color: #F4F4F4;
}

TABLE.rating TH, TABLE.rating TD
{
	padding: 2px 6px;
	border-right: 1px solid #DDDDDD;
}
TABLE.rating TD
{
	border-top: 1px solid #DDDDDD;
}

TABLE.rating .rank
{
	border-left: 1px solid #DDDDDD;
	width: 52px;
}
TABLE.rating .id
{
	width: 64px;
}
TABLE.rating .date
{
	width: 86px;
}
TABLE.rating .coder
{
	width: 248px;
}
TABLE.rating TD.coder
{
	text-align: left;
}
TABLE.rating .language
{
	width: 76px;
}
TABLE.rating .runtime
{
	width: 68px;
}
TABLE.rating .memory
{
	width: 76px;
}
TABLE.rating TD.rating_footer
{
	padding: 10px 0px 0px 0px;
	border-top: 1px solid #808080;
	border-right: none;
}

TABLE.rating_footer
{
	font: 14px Arial, Helvetica, sans-serif;
	color: #000000;
	width: 100%;
}
TABLE.rating_footer TD
{
	padding: 0px;
	border: none;
	vertical-align: top;
}
TABLE.rating_footer TD.footer_left
{
	padding-right: 32px;
	text-align: left;
}
TABLE.rating_footer TD.footer_right
{
	text-align: right;
}

TABLE.rating A
{
	color: #0044CC;
	text-decoration: underline;
}

/********** problem **********/

TABLE.sample
{
	border-collapse: collapse;
	border: solid 1px #1A5CC8;
}
TABLE.sample TR TD, TABLE.sample TR TH
{
	border: solid 1px #1A5CC8;
	vertical-align: top;
	padding: 3px;
}
TABLE.sample TR TH
{
	color: #1A5CC8;
}

H2.problem_title
{
	text-align: center;
	font-weight: normal;
	font-size: 2em;
	color: #1A5CC8;
	margin: 0;
}
H3.problem_subtitle
{
	color: #1A5CC8;
	margin: 14px 0 4px 0;
}
DIV.problem_limits
{
	text-align: center;
	margin: 0 0 14px 0;
	line-height: 1.4em;
}
DIV.problem_source
{
	margin: 10px 0 0 0;
	line-height: 1.4em;
}
DIV.problem_links
{
	font-size: 1.15em;
	margin: 14px 0 6px 0;
}

DIV.problem_centered_picture
{
	text-align: center;
	margin: 12px 0 12px 0;
}
IMG.problem_laimage
{
	margin: 4px 15px 6px 0;
}
IMG.problem_raimage
{
	margin: 4px 0 6px 15px;
}

DIV.problem_par, DIV.problem_par_pre
{
	margin: 0 0 10px 0;
}
DIV.problem_par
{
	line-height: 1.4em;
}
DIV.problem_par_normal
{
	text-align: justify;
}
DIV.problem_par_center
{
	text-align: center;
}
DIV.problem_par_right
{
	text-align: right;
	font-style: italic;
	padding-left: 60px;
}

DIV.problem_par UL, DIV.problem_par OL
{
	margin-top: 4px;
	margin-bottom: 10px;
}
DIV.problem_par TABLE
{
	border: solid 1px Black;
	border-collapse: collapse;
}
DIV.problem_par TABLE TR TH, DIV.problem_par TABLE TR TD
{
	border: solid 1px Black;
	padding: 4px;
}
DIV.problem_par TABLE PRE
{
	margin: 0;
}

/********** problemset **********/

TABLE.problemset
{
	border: solid 1px #999;
	border-collapse: collapse;
}
TABLE.problemset TR TH, TABLE.problemset TR TD
{
	border: solid 1px #999;
	padding: 3px;
}
TABLE.problemset TR TH
{
	color: Black;
	background-color: #A4C6FF;
	text-align: center;
}
TABLE.problemset TR TD
{
	color: Black;
	background-color: #C6C6C6;
	text-align: center;
}
TABLE.problemset TR TD.name
{
	text-align: left;
}
TABLE.problemset TR TD.source
{
	text-align: left;
	font-size: 0.81em;
}

/********** ranklist **********/

TABLE.ranklist
{
	border: solid 1px #999;
	border-collapse: collapse;
}
TABLE.ranklist TR TH, TABLE.ranklist TR TD
{
	border: solid 1px #999;
	padding: 2px 4px;
}
TABLE.ranklist TR TH
{
	color: Black;
	background-color: #A4C6FF;
	text-align: center;
}
TABLE.ranklist TR TD
{
	color: Black;
	background-color: #C6C6C6;
	text-align: center;
}
TABLE.ranklist TR TD.name
{
	text-align: left;
}
TABLE.ranklist TR TD.first
{
	font: bold 1.3em Arial, Helvetica, sans-serif;
}
TABLE.ranklist TR TD.current
{
	background-color: #D4D4D4;
}

/********** monitor **********/

TABLE.monitor
{
	border-collapse: collapse;
}
TABLE.monitor TR TD
{
	border: solid 1px #BBB;
	padding: 1px 4px;
	text-align: center;
}
TABLE.monitor TR TD.author
{
	text-align: left;
}
TABLE.monitor TR TD .time
{
	font-size: 0.63em;
}
TABLE.monitor TR TD.acc
{
	color: #070;
}
TABLE.monitor TR TD.rej
{
	color: #B00;
}
TABLE.monitor TR.stat_row TD
{
	border: 0;
	font-style: italic;
	font-size: 0.9em;
}
TABLE.monitor TR.stat_row TD.stat_caption
{
	text-align: right;
}

/********** stats **********/

TABLE.stats
{
	border-width: 0px;
	border-collapse: collapse;
}
TABLE.stats TR TD
{
	padding: 2px;
	vertical-align: middle;
}
TABLE.stats TR TD.name
{
	width: 200px;
	text-align: left;
	font: 1.13em Arial, Helvetica, sans-serif;
}
TABLE.stats TR TD.value
{
	width: 70px;
	text-align: right;
	font: 1.19em monospace, "monospace for firefox";
}

/********** news **********/

DIV.news_block
{
	margin: 1.2em 0em 1.2em 0em;
}
DIV.news_caption
{
	font-weight: bold;
	font-size: 1.19em;
	margin-bottom: 0.3em;
	border-bottom: dashed 1px Silver;
}

/********** the team **********/

TABLE.team_person TR TD
{
	padding: 7px;
	height: 130px;
	width: 400px;
	background-color: #eee;
	vertical-align: top;
}
TABLE.team_person TR TD IMG.photo
{
	float: left;
	margin: 0px 7px 0px 0px;
}
TABLE.team_person TR TD DIV.name
{
	font-size: 1.3em;
	margin-bottom: 0.3em;
}

/********** forum **********/

.board { font: 12px Arial, Helvetica, sans-serif; }
.board A:link { text-decoration: none; color: #1A5CC8; }
.board A:visited { text-decoration: none; color: #404040; }
.board A:hover { text-decoration: underline; }
.forum0 { background-color: #ECECEC; }
.forum1 { background-color: #F8F8F8; }
.pages { text-align: center; color: #404040; border-top: solid 1px #b0b0b0; border-bottom: solid 1px #b0b0b0; }
.beforepages { margin-bottom: 5px; color: #545454; text-align: center; }
.afterpages { padding-top: 5px; color: #545454; text-align: center; border-top: solid 1px #b0b0b0; }
.thread { color: #404040; border-bottom: solid 1px #c0c0c0; }
.treedate { color: #808080; font: 10px Arial, Helvetica, sans-serif; }
.hidden { display: none; }
