body {
	margin: 0px;
	padding: 0px;
	/* background-color: #006000; */
	background-color: #F0F0F0;
	font-family: Arial;
	font-size: 10pt;
}
a {
	color: #aa3130;
}
a:hover {
	color: red;
}
div.container {
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -380px;
	width: 760px;
	border-left: 5px ridge white;
	border-right: 5px ridge white;
	border-bottom: 5px ridge white;
}
div.container div.header {
	position: static;
	height: 100px;
	width: 760px;
	background-repeat: no-repeat;
	background-color: #5f5f5f;
}
div.container div.content {
	position: static;
	width: 750px;
	background-color: white;
	font-size: 10pt;
	padding: 5px;
}
div.container div.nav {
	position: static;
	width: 750px;
	background-color: white;
	font-size: 10pt;
	font-weight: bold;
	padding: 5px;
	text-align: center;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
div.container div.nav a {
	text-decoration: none;
}
* html div.container div.content{
	width: 760px;
}
* html div.container div.nav {
	width: 760px;
}
div.container div.content span.heading {
	font-size: 16pt;
	color: #AA3130;
}
div.container div.content p {
	width: 98%;
}
div.container div.content span.heading2 {
	font-size: 10pt;
	color: #AA3130;
	font-weight: bold;
}
div.container div.footer {
	position: static;
	width: 760px;
	background-color: #5f5f5f;
	color: white;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
object, embed {
	position: relative;
	float: left;
	margin-right: 25px;
	border: 5px ridge white;
}